<% include ./partials/header %>

<div class="ui main text container todo-header">
    <h1 id="header" class="ui header centered">TODO Lists</h1>

    <div class="ui top attached segment todo-lists-container">
            <input type="text" name="newTodo" placeholder="Add new todo">
            <span><button class="ui green big basic button">Submit</button></span>
            <div class="ui middle aligned divided list">
                <% lists.forEach(function(list, index){ %>
                  <div class="item">
                    <div class="right floated content">
                      <p id="date"><%= list.created.toDateString() %></p>  
                    </div>
                        <i class="large trash alternate icon"></i>
                    <div class="content">
                      <h4 id="title"><%= list.text %></h4>
                    </div>
                  </div>
                <% }) %>
            </div>
    </div>
</div>


<% include ./partials/footer %>
