body, html {
    background-color: #9CAFD1;
}

.todo-header{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-top: 15vh;
}

#header{
    font-size: 3.0rem;
}

.todo-lists-container {
    padding: 14px;
    background-color: #A2C0BB;
}

.center {
    text-align: center;
    padding: 5px;
}

input {
    width: 80%;
    height: 45px;
    font-size: 1.5rem;
    padding: 0px 8px;
    border-radius: 5px;
}

.input-container {
    background-color: #68799C !important;
}

#date{
    padding-left: 20px;
    font-size: 12px;
}

i{
    color: #125AB7;
}

i:hover{
    color: red;
}

#title{
     font-size: 17px;
}

.ui .grid:nth-child(even) {
    background: #F0F0F0;
}